.tab_menu_box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
input[type="radio"] {
  display: none;
}
.tab_btn {
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  color: #ccc;
  font-size: 15px;
}
input[type="radio"]:checked + .tab_btn
{
  background-color: #888;
  color: #fff;
}
.clothes_list_box {
  max-height: 248px;
  overflow-y: auto;
}
.clothes_list_box::-webkit-scrollbar {
  display: none;
}
.clothes_list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.clothes_item {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0 15px;
  box-sizing: border-box;
  font-size: 15px;
}
.btn_box {
  display: flex;
  gap: 17px;
  font-size: 20px;
}
.btn_box i {
  cursor: pointer;
  color: #555;
}
.btn_clothesAdd {
  margin-top: 7px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-radius: 20px;
  background-color: #888;
  color: #fff;
  cursor: pointer;
}
